body {
    background-color: black;
    text-align: center;
    color: gainsboro;
    padding: 20px;
    max-width: 720px;
    margin: auto;
    font-family: Georgia, serif;
    font-size: 16px;
    overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6, b, strong {
    font-family: Georgia, serif;
    color: skyblue;
    text-decoration: none;
}

a {
    color: gainsboro;
    font-weight: bold;
    overflow-wrap: break-word;
}

p, li, div {
    text-align: left;
    line-height: 24px;
}

table {
    width: 100%;
}